@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-300.woff2) format("woff2"), url(../fonts/Roboto-300.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-400.woff2) format("woff2"), url(../fonts/Roboto-400.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-500.woff2) format("woff2"), url(../fonts/Roboto-500.woff) format("woff");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: "Roboto", "Arial Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  font-weight: 400;
  color: #6b6b6b;
}

.page__body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
}

.container {
  width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}

.header {
  padding: 52px 0 20px;
  background-color: #f4f4f4;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: block;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
}

.secondary__button {
  padding: 2px 6px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.2;
  color: #292929;
  transition: all ease-in 0.25s;
}

.secondary__button:hover {
  background-color: #6b6b6b;
  color: #ffffff;
  transition: all ease-in 0.25s;
}

.secondary__button:active {
  background-color: #cfcfcf;
  color: #ffffff;
  box-shadow: none;
  transition: all ease-in 0.25s;
}

.secondary__button:disabled {
  border: 1px solid #cfcfcf;
  color: #cfcfcf;
  background-color: transparent;
  box-shadow: none;
}

.control-buttons {
  display: flex;
}

.control-buttons__button {
  padding: 6px 12px;
  background-color: #0271c7;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.2;
  color: #ffffff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  transition: background-color ease-in 0.25s;
}

.control-buttons__button:not(:last-child) {
  margin-right: 10px;
}

.control-buttons__button:hover {
  background-color: #27a1ff;
  transition: background-color ease-in 0.25s;
}

.control-buttons__button:active {
  background-color: #c2e4fe;
  transition: background-color ease-in 0.25s;
}

.control-buttons__button:disabled {
  color: #ffffff;
  background-color: #cfcfcf;
  box-shadow: none;
  text-shadow: none;
}

.input {
  display: inline-block;
  height: 28px;
  margin: 0;
  padding: 6px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.input::-moz-placeholder {
  font-family: inherit;
  color: #cfcfcf;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.15;
}

.input:-moz-placeholder-shown {
  font-family: inherit;
  color: #cfcfcf;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.15;
}

.input::placeholder,
.input:placeholder-shown {
  font-family: inherit;
  color: #cfcfcf;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.15;
}

.input:focus {
  outline: none;
}

.input:focus::-moz-placeholder {
  opacity: 0;
}

.input:focus::placeholder {
  opacity: 0;
}

.control-search {
  display: flex;
  align-items: center;
}

.control-search__icon {
  margin-right: 21px;
  fill: #cfcfcf;
}

.control-search__input {
  width: 210px;
  height: 28px;
}

.calendar__header {
  padding: 11px 0;
  display: flex;
  align-items: center;
}

.calendar__current-day {
  margin-left: 10px;
}

.calendar__month {
  width: 100%;
  border-collapse: collapse;
}

.calendar__day {
  width: 14.2857142857%;
  height: 120px;
  padding: 8px;
  border: 1px solid #292929;
  vertical-align: top;
  background-color: #ffffff;
  transition: background-color ease-in 0.25s;
}

.calendar__day:hover {
  background-color: #f4f4f4;
  transition: background-color ease-in 0.25s;
}

.calendar__day:active {
  box-shadow: 0px 0px 10px 2px #0271c7;
  background-color: transparent;
}

.calendar__day--event {
  background-color: #c2e4fe;
}

.calendar__day--event:hover {
  background-color: #27a1ff;
}

.calendar__day--event:active {
  background-color: #c2e4fe;
}

.calendar__day--active {
  box-shadow: 0px 0px 10px 2px #0271c7;
}

.calendar__date {
  display: inline-block;
  margin-bottom: 8px;
}

.month-control {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-control__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  color: #6b6b6b;
  transition: all ease-in 0.25s;
}

.month-control__button svg {
  fill: currentColor;
}

.month-control__button:hover {
  background-color: #6b6b6b;
  color: #ffffff;
  transition: all ease-in 0.25s;
}

.month-control__button:active {
  background-color: #cfcfcf;
  color: #ffffff;
  transition: all ease-in 0.25s;
  box-shadow: none;
}

.month-control__button:disabled {
  border: 1px solid #cfcfcf;
  color: #cfcfcf;
  background-color: transparent;
  box-shadow: none;
}

.month-control__month-name {
  margin: 0;
  font-size: 18px;
  line-height: 1.16;
}

.event__tittle {
  display: block;
  margin-bottom: 8px;
  color: #292929;
}

.event__description {
  display: block;
}

.popup {
  display: none;
  margin-left: 16px;
  width: 290px;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.popup--new {
  min-height: 182px;
}

.popup--review {
  min-height: 302px;
}

.popup__wrapper {
  width: 100%;
  padding: 12px;
  position: relative;
}

.popup__wrapper::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border: 10px solid black;
  border-color: transparent transparent #ffffff #ffffff;
  transform-origin: 0 0;
  transform: rotate(45deg);
  box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.1);
}

.popup--show {
  display: block;
  position: absolute;
  z-index: 1;
}

.popup__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 8px;
  margin-right: 7px;
  width: 8px;
  height: 8px;
  padding: 1px;
  background-color: #ffffff;
  color: #6b6b6b;
}

.form__info {
  margin-bottom: 8px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form__inputs--review {
  margin-bottom: 8px;
}

.form__input {
  width: 100%;
}

.form__input:not(:last-child) {
  margin-bottom: 8px;
}

.form__input--event-description {
  resize: none;
  height: 125px;
}

.form__buttons {
  display: flex;
}

.form__button--add {
  margin-right: 20px;
}

.form-info__event-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.16;
  color: #292929;
}

.form-info__event-date {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 300;
  color: #292929;
}

.form-info__event-participants {
  margin: 0;
  font-weight: 300;
}

.form-info__participants-name {
  display: block;
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #292929;
}