.button {
  display: block;
  padding: 0;
  appearance: none;
  border: none;
  cursor: pointer;
}

.secondary__button {
  padding: 2px 6px;
  background-color: $light-100;
  border-radius: 4px;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.2;
  color: $dark-200;
  transition: all ease-in 0.25s;

  &:hover {
    background-color: $dark-100;
    color: $light-100;
    transition: all ease-in 0.25s;
  }

  &:active {
    background-color: $neutral-200;
    color: $light-100;
    box-shadow: none;
    transition: all ease-in 0.25s;
  }

  &:disabled {
    border: 1px solid $neutral-200;
    color: $neutral-200;
    background-color: transparent;
    box-shadow: none;
  }
}