.form__info {
  margin-bottom: 8px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;

  &--review {
    margin-bottom: 8px;
  }
}

.form__input {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &--event-description {
    resize: none;
    height: 125px;
  }
}

.form__buttons {
  display: flex;
}

.form__button--add {
  margin-right: 20px;
}