.form__inputs {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form__buttons {
  display: flex;
}

.form__button--add {
  margin-right: 20px;
}